<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreateEmployeeService" />
                <binding name="BasicHttpBinding_IRetrieveEmployeeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49776/EmployeeServiceImplementation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreateEmployeeService"
                contract="ServiceReference.ICreateEmployeeService" name="BasicHttpBinding_ICreateEmployeeService" />
            <endpoint address="http://localhost:49776/EmployeeServiceImplementation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetrieveEmployeeService"
                contract="ServiceReference.IRetrieveEmployeeService" name="BasicHttpBinding_IRetrieveEmployeeService" />
        </client>
    </system.serviceModel>
</configuration>